.Rproj.user
.Rhistory
.RData
.Ruserdata
wc2-5/prec_2-5m_bil.zip
wc2-5/prec9.hdr
wc2-5/prec9.bil
wc2-5/prec8.hdr
wc2-5/prec8.bil
wc2-5/prec7.hdr
wc2-5/prec7.bil
wc2-5/prec6.hdr
wc2-5/prec6.bil
wc2-5/prec5.hdr
wc2-5/prec5.bil
wc2-5/prec4.hdr
wc2-5/prec4.bil
wc2-5/prec3.hdr
wc2-5/prec3.bil
wc2-5/prec2.hdr
wc2-5/prec2.bil
wc2-5/prec12.hdr
wc2-5/prec12.bil
wc2-5/prec11.hdr
wc2-5/prec11.bil
wc2-5/prec10.hdr
wc2-5/prec10.bil
wc2-5/prec1.hdr
wc2-5/prec1.bil
project_data/geo6ag.shx
project_data/geo6ag.shp.xml
project_data/geo6ag.shp
project_data/geo6ag.prj
project_data/geo6ag.dbf
project_data/BRA_msk_alt.grd
project_data/BRA_msk_alt.gri
project_data/BRA_msk_alt.vrt
BRA_msk_alt.vrt
BRA_msk_alt.gri
BRA_msk_alt.grd
gadm36_BRA_1_sp.rds
project_data/rivers_samerica_37330.dbf
project_data/rivers_samerica_37330.prj
project_data/rivers_samerica_37330.shp
project_data/rivers_samerica_37330.shx
project_data/brazil_water.shx
project_data/brazil_water.shp
project_data/brazil_water.prj
project_data/brazil_water.dbf
